html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/ 

}



*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
}

/* Propiedades de la Navbar  y el footer*/
.estilo{
    display: flex;
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #0A4D68;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    justify-content: center;
}

.estilo li{
    float: left;
    margin: 1rem;
}

li a{
    display: block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

li a:hover {
    background-color: #0cb0b6;
}

.home{
    font-style: normal;
    font-weight: 600;
}



h1 a{
    display: block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

h1 a:hover{
    background-color: #0cb0b6;
}

.redes{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    background: #0A4D68;
    width: 100%;
    height: 12vh;
    position: fixed;
    bottom: 0;
    font-size: calc(4rem - 10px);
}

.margen{
    margin: 2rem;
}


/* Tipografia general para todas las paginas */

.estiloPrin{
    font-family: 'Montserrat';
    color: #FFFFFF;
}



/* Estilo para la pagina de habilidades */

.listaItems{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    
}

.listaItems li {
    margin-right: 10rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
    flex-basis: 12%;
}

.boton{
    padding: 0;
    margin: 0;
    border-radius: 20%;
    background-color: #0A4D68;

}
