html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/ 

}



*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
}

/* Propiedades de la Navbar  y el footer*/
.estilo{
    display: flex;
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #0A4D68;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    justify-content: center;
}

.estilo li{
    float: left;
    margin: 1rem;
}

li a{
    display: block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

li a:hover {
    background-color: #0cb0b6;
}

.home{
    font-style: normal;
    font-weight: 600;
}



h1 a{
    display: block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

h1 a:hover{
    background-color: #0cb0b6;
}

.redes{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    background: #0A4D68;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
}

.margen{
    margin: 2rem;
}


/* Tipografia general para todas las paginas */

.estiloPrin{
    font-family: 'Montserrat';
    color: #FFFFFF;
}


/*  Estilos de la Pagina de Sobre Mi */

.contenedor{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 10%;
}

.contenedorItem{
    margin-right: 50px;
    flex-basis: 25%;
}
.contenedorItem3{
    margin-right: 50px;
    flex-basis: 25%;
}
.parrafo{
    width: 50%;
}


/* Estilos responsivos para la pagina Sobre Mi */

@media screen and (max-width: 400px){
    .contenedorItem{
        flex-basis: 60%;
    }
    .parrafo{
        width: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px){
    .contenedorItem{
        flex-basis: 40%;
    }
    .parrafo{
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px){
    .contenedorItem{
        flex-basis: 40%;
    }
    .parrafo{
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .parrafo{
        width: 100%;
    }
    .redes{
        height: 12vh;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .parrafo{
        width: 70%;
    }
}
