html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/ 

}



*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
}

/* CONFIGURACION GLOBALES */


/* Propiedades de la Navbar */
.estilo{
    display: flex;
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00FFCA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 26.0163px;
    justify-content: center;
}

.estilo li{
    float: left;
    margin: 1rem;
}

li a{
    display: block;
	color: #0A4D68;
	text-align: center;
	text-decoration: none;
}

li a:hover {
    background-color: black;
}



/* Titulo Principal */

.estiloPrin{
    font-family: 'Montserrat';
    color: #FFFFFF;
}
.nombre{
    position: absolute;
    width: 843px;
    height: 159px;
    left: 187.32px;
    top: 316.1px;
    font-style: normal;
    font-weight: 500;
    font-size: 13rem;
    line-height: 159px;
}

.apellido{
    position: absolute;
    width: 858px;
    height: 277px;
    left: 182.11px;
    top: 411.06px;
    font-style: normal;
    font-weight: 800;
    font-size: 22.7rem;
    line-height: 277px;
}

.titulo{
    position: absolute;
    width: 827px;
    height: 68px;
    left: 200.33px;
    top: 651.71px;
    font-style: italic;
    font-weight: 400;
    font-size: 5.6rem;
    line-height: 68px;
}
